body {
    font-family:  'M PLUS Rounded 1c', sans-serif;
    background-color: #e7e7e7;
    margin: 0;
    padding: 20px;
    background-image: url('../css/publicdomainq-0003262xrwkpw.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
}

.header-container {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    justify-content: flex-start;
    margin-bottom: 20px;
}

h1 {

    margin: 50px;
    font-size: 40px;
    color: white;
    flex-grow: 1;
}

.nav-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #5cb85c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
   margin-right: 10px;
}

.nav-button:hover {
    background-color: #4cae4c;
}

.category-header {
    background-color: #555;
    color: white;
    padding: 15px;
    font-size: 28px;
    margin-top: 40px;
    text-align: center;
    border-radius: 5px;
}

.nationality-header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    font-size: 30px;
    margin: 10px 0;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 70px;
}

.category-header {
    font-size: 40px;
    padding: 5px 0 5px 0;
    margin: 30px 0;
    text-align: left;
    background-color: transparent;
    color: white;
}

table {
    width: 70%;
    height:70%;
    margin-left: 100px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: left;
    background-color: #fff;
}

th {
    background-color: #666;
    color: white;
    font-size: 20px;
}
table tr td:last-child {
    border-top: none;
    border-right: none;
    border-bottom: none;

}
.form-inline {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.form-select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.submit-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5cb85c;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
}

.submit-button:hover {
    background-color: #4cae4c;
}

.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.edit-button, .delete-button {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
