<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rugby Players Top</title>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/toppage.css}">

</head>
<body>
<div class="header-container">
    <h1>Rugbyplayers Infomation</h1>
    <a href="/rugbyPlayers" class="nav-button">チーム別選手一覧へ</a>
    <a href="/rugbyPlayers/reference" class="nav-button">選手検索メニューへ</a>
    <a href="/rugbyPlayers/average" class="nav-button">チーム別平均データへ</a>
    <a href="/rugbyPlayers/new" class="nav-button">選手登録へ</a>
</div>
</body>
</html>
